[submodule "deinterfaces"]
	path = deinterfaces
	url = https://github.com/tonlabs/DeBot-IS-consortium
[submodule "tonswapSC"]
	path = tonswapSC
	url = https://github.com/SVOIcom/secret-swap
	branch = swap-pair-lp-tip3
[submodule "dens-v2"]
	path = dens-v2
	url = https://github.com/laugual/dens-v2
